@using CocShopData.Utility;
@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table tbody tr:hover {
        cursor: pointer;
    }

        table tbody tr:hover td {
            color: #3c8dbc;
        }

    .general-info, .setting {
        background-color: #ffffff;
        padding-top: 20px;
        border-radius: 5px;
    }

        .setting .form-group input {
            margin-left: 3%;
            width: 94%;
        }

    .toggle-handle {
        border-radius: 0;
        /*height: 30px;*/
    }

    .toggle-off.btn {
        padding-left: 30px;
    }

    .input-group-addon:hover {
        cursor: pointer;
        background: #367fa9;
        color: white;
    }

    .fixedHeader {
        position: fixed;
    }

    .modal-dialog {
        transform: none !important;
    }

    .modal-content {
        margin-top: 70px;
    }

    th, td {
        vertical-align: middle;
    }

    table.dataTable thead .sorting,
    table.dataTable thead .sorting_asc,
    table.dataTable thead .sorting_desc {
        background: none;
    }

    #LandingPageDatatable > tbody > tr > td {
        vertical-align: middle;
    }
</style>

@section Header
{
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Accounts")"><i class="left-icon fa fa-linux"></i>DashBoard</a></li>
        <li class="active">Quản lý sản phẩm</li>
    </ol>
}

<div class="block-header">
    <h2>Danh sách sản phẩm</h2>
    <ul class="actions">
        <li>
            <button id="btnCreateLandingPage" type="button" class="btn btn-primary pull-right" onclick="createModal()">
                <i class="left-icon fa fa-plus"></i>Tạo mới
            </button>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body card-padding">
                <div class="col-md-4 pull-right">
                    <select name="ChoosenCategoryId" id="ChoosenCategoryId" style="width: 100%; height: 35px"></select>
                </div>

                <table id="productDatatable" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                <label class="">STT</label>
                            </th>
                            <th>
                                <label class="">Tên sản phẩm</label>
                            </th>
                            <th>
                                <label class="">Giá</label>
                            </th>
                            <th>
                                <label class="">Chú thích</label>
                            </th>
                            <th>
                                <label class="">Tùy chọn</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="createModal" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3>Tạo sản phẩm</h3>
            </div>
            <form id="createProductForm" method="post">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="productName" class="col-sm-4 control-label">Tên sản phẩm:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control col-md-6" id="productName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="productPrice" class="col-sm-4 control-label">Giá</label>
                            <div class="col-sm-6">
                                <input type="number" value="0" class="form-control" id="productPrice">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="">Danh mục: </label>
                            </div>
                            <div class="col-sm-12 chkCate">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="createProduct">Tạo</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="editModal" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3>Tạo sản phẩm</h3>
            </div>
            <form id="editProductForm" method="post">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" value="0" class="form-control" id="editProductId">

                        <div class="form-group">
                            <label for="productName" class="col-sm-4 control-label">Tên sản phẩm:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control col-md-6" id="editProductName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="productPrice" class="col-sm-4 control-label">Giá</label>
                            <div class="col-sm-6">
                                <input type="number" value="0" class="form-control" id="editProductPrice">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="productPrice" class="col-sm-4 control-label">Status: </label>
                            <div class="col-sm-6 checkbox">
                                <label>
                                    <input type="checkbox" class="form-control" id="editProductStatus"><i class="input-helper"></i>
                                    Còn hàng
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="">Danh mục: </label>
                            </div>
                            <div class="col-sm-12 chkCate">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="createProduct">Xác nhận</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                </div>
            </form>
        </div>
    </div>
</div>

<template id="tmpChkCate">
    <div class="col-md-4">
        <div class="checkbox">
            <label>
                <input name="chkCategoryId" type="checkbox" value=""><i class="input-helper"></i><span></span>
            </label>
        </div>
    </div>
</template>

@section Scripts {
    <script src="~/Content/js/Campaign.js"></script>
    <script>
        $(document).ready(function () {
            loadAllCategoriesForSelector();

            $(document).on('onFadeOutComplete', '#loading-image', function () {
                StartOverallTour();
            });
        });

        function RefreshTable() {
            var oTable = $("#productDatatable").dataTable();
            oTable._fnPageChange(0);
            oTable._fnAjaxUpdate();
        }

        function InitDatatable() {
            $("#productDatatable").dataTable({
                "bFilter": true,
                "bRetrieve": true,
                "bServerSide": true,
                "bScrollCollapse": true,
                "sAjaxSource": "@Url.Action("ProductDatatable", "Product")",
                "bProcessing": true,
                "fnServerParams": function (aoData) {
                    aoData.push(
                        { "name": "categoryId", "value": $('#ChoosenCategoryId').val() }
                        );
                },
                "oLanguage": {
                    "sSearch": "Tìm kiếm: ",
                    "sZeroRecords": "Không có sản phẩm nào",
                    "sInfo": "Hiển thị từ _START_ đến _END_ trong tổng số _TOTAL_",
                    "sEmptyTable": "Không có dữ liệu",
                    "sInfoFiltered": " ",
                    "sLengthMenu": "Hiển thị _MENU_ dòng",
                    "sProcessing": "Đang xử lý...",
                    "oPaginate": {
                        "sNext": "<i class='fa fa-chevron-right'></i>",
                        "sPrevious": "<i class='fa fa-chevron-left'></i>"
                    }
                },
                "aoColumnDefs": [
                    {
                        "aTargets": [0, 1, 2],
                        "bSortable": true,
                    },
                    {
                        "aTargets": [3],
                        "mRender": function (data, type, row) {
                            var status = row[3] == true ? "<div class='label label-primary'style='margin-left: 8px'>Còn hàng</div>"
                                : "<div class='label label-danger' style='margin-left: 8px'>Hết hàng</div>";
                            return status;
                        },
                        "bSortable": false
                    },
                    {
                        "aTargets": [4],
                        "mRender": function (data, type, row) {
                            var data = row[4];
                            return "<a class='btn btn-sm btn-primary' data-toggle='tooltip' title='Chỉnh sửa' onclick='editModal(" + data + ")'><i class='glyphicon glyphicon-pencil'></i></a>"
                                 + " <a class='btn btn-sm btn-danger' data-toggle='tooltip' title='Xóa' onclick='deleteProduct(" + data + ")'><i class='fa fa-trash'></i></a>";

                            //    + " <a id='btnDemoLandingPage' class='btn btn-sm btn-primary' target='_blank' href='/BrandManager/LandingPages/ViewDemo?id=" + data + "'>View demo</i></a>";
                        },
                        "bSortable": false
                    },
                ],
                "bAutoWidth": false,

            }).fnSetFilteringDelay(1000);
        }

        function createModal() {
            $('#createModal').modal('show');
            $('#productName').val("");
            loadAllCategories();
            $('#productPrice').val(0);
        }

        function loadAllCategories() {
            $.ajax({
                url: '@Url.Action("GetAllCategory", "Category")',
                type: "POST",
                success: function (data) {
                    if (data.aoData.length > 0) {
                        var nodes = [];
                        $.each(data.aoData, function (i, e) {
                            var node = $($('#tmpChkCate').html().trim());
                            node.find('input[name="chkCategoryId"]').val(e.CategoryId);
                            node.find('span').html(e.Name);
                            nodes.push(node);
                        });
                        $('.chkCate').html(nodes);
                    }
                },
                error: function (error) {
                    alert(error);
                }
            });
        }

        $('#ChoosenCategoryId').change(function () {
            RefreshTable();
        });

        function loadAllCategoriesForSelector() {
            $.ajax({
                url: '@Url.Action("GetAllCategory", "Category")',
                type: "POST",
                success: function (data) {
                    var newOptions = "<option value='0'>Chọn danh mục</option>";
                    if (data.aoData != null && data.aoData.length > 0) {
                        //render to location dropdown
                        for (var i = 0 ; i < data.aoData.length; i++) {
                            newOptions += "<option value=" + data.aoData[i].CategoryId + ">" + data.aoData[i].Name + "</option>";
                        }
                    }
                    $('#ChoosenCategoryId').html(newOptions);
                    InitDatatable();

                },
                error: function (error) {
                    alert(error);
                }
            });
        }

        $('#createProductForm').submit(function (e) {
            e.preventDefault();
            var chkCateId = new Array();
            var name = $('#productName').val();
            var price = +$('#productPrice').val();
            var check = true;
            if ($('#createModal').find('input[name=chkCategoryId]:checked').length == 0) {
                PnotifyFail("Vui lòng chọn danh mục");
                check = false;
            } else {
                check = true;
                $.each($('#createModal').find('input[name=chkCategoryId]:checked'), function () {
                    chkCateId.push($(this).val());
                });
            }
            if (name.length == 0) {
                check = false;
                PnotifyFail("Thêm tên sản phẩm");
            }
            if (price <= 0) {
                check = false;
                PnotifyFail("Thêm giá cho sản phẩm");
            }
            if (check) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CreateProduct", "Product")',
                    data: {
                        name: name,
                        price: price,
                        categoryIds: chkCateId,
                    },
                    dataType: "JSON",
                    success: function (result) {
                        if (result.success) {
                            PnotifySuccess("Thêm sản phẩm thành công");
                            $('#createModal').modal('hide');
                            RefreshTable();
                        } else {
                            PnotifyFail("Thêm sản phẩm lỗi");
                        }
                    },
                    error: function (error) {
                        PnotifyFail("Thêm sản phẩm bị lỗi");
                    }
                });
            }
        });

        $('#editProductForm').submit(function (e) {
            e.preventDefault();
            var chkCateId = new Array();
            var name = $('#editProductName').val();
            var price = +$('#editProductPrice').val();
            var status = $('#editProductStatus').prop("checked") == true ? 1:0;
            var id = +$('#editProductId').val();
            var check = true;
            if ($('#editModal').find('input[name=chkCategoryId]:checked').length == 0) {
                PnotifyFail("Vui lòng chọn danh mục");
                check = false;
            } else {
                check = true;
                $.each($('#editModal').find('input[name=chkCategoryId]:checked'), function () {
                    chkCateId.push($(this).val());
                });
            }
            if (name.length == 0) {
                check = false;
                PnotifyFail("Thêm tên sản phẩm");
            }
            if (price <= 0) {
                check = false;
                PnotifyFail("Thêm giá cho sản phẩm");
            }
            if (check) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("EditProduct", "Product")',
                    data: {
                        id : id,
                        name: name,
                        price: price,
                        categoryIds: chkCateId,
                        status : status,
                    },
                    dataType: "JSON",
                    success: function (result) {
                        if (result.success) {
                            PnotifySuccess("Thêm sản phẩm thành công");
                            $('#editModal').modal('hide');
                            RefreshTable();
                        } else {
                            PnotifyFail("Thêm sản phẩm lỗi");
                        }
                    },
                    error: function (error) {
                        PnotifyFail("Thêm sản phẩm bị lỗi");
                    }
                });
            }
        });

        //edit
        function editModal(productId) {
            loadAllCategories();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetDetail", "Product")',
                data: { productId: productId },
                success: function (result) {
                    if (result.success) {
                        $('#editModal').modal('show');
                        $('#editProductName').val(result.name);
                        $('#editProductPrice').val(result.price);
                        $('#editProductId').val(result.id);
                        debugger
                        if (result.status == (@((int)ProductStatusEnum.Stocking))) {
                            $('#editProductStatus').attr("checked", "checked");
                        }
                        $.each($('#editModal').find('input[name=chkCategoryId]'), function (i, e) {
                            var value = +$($('#editModal').find('input[name=chkCategoryId]')[i]).val();
                            var checked = $.inArray(value, result.categories);
                            if(checked >= 0){
                                $($('#editModal').find('input[name=chkCategoryId]')[i]).attr("checked", "checked");
                            }
                        });
                    }
                },
                error: function (error) {
                    PnotifyFail("Có lỗi xảy ra!!!");
                }
            });
        }

        //delete product
        function deleteProduct(productId) {
            swal({
                title: 'Cảnh báo',
                text: "Bạn có chắc chắn muốn xóa không?",
                type: 'warning',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Xác nhận',
                cancelButtonText: 'Không',
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "Product")',
                    data: { productId: productId },
                    success: function (result) {
                        if (result.success) {
                            PnotifySuccess("Xóa thành công!!!")
                            RefreshTable();
                        } else {
                            PnotifyFail("Xóa thất bại");
                        }
                    },
                    error: function (error) {
                        PnotifyFail("Có lỗi xảy ra!!!");
                    }
                });
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}