@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .clearfix .chart h1 {
        color: white !important;
    }

    .row .col-md-3 h4, .card .card-header h2 {
        color: #6d777e;
        font-weight: 200;
    }

    .hover-cursor {
        cursor: pointer;
    }

    .tabs {
        height: 45px;
        padding: 0 0 0 0;
        overflow: visible;
    }

    .tab {
        width: 200px;
        height: 45px;
        overflow: hidden;
        float: left;
        margin: 0 -15px 0 0;
    }


    .tab-box {
        height: 50px;
        background: #fff;
        border-radius: 4px;
        border: 1px solid #ccc;
        margin: 0 10px 0;
        box-shadow: 0 0 2px #fff inset;
        -webkit-transform: perspective(100px) rotateX(30deg);
        -moz-transform: perspective(100px) rotateX(30deg);
    }

    .tab.active {
        z-index: 40;
        position: relative;
        padding-bottom: 1px;
    }

    .content {
        z-index: 1;
        padding: 100px;
        border: 1px solid #ccc;
        background: #eee;
        position: relative;
    }

    .tab.active .tab-box {
        background-color: #eee;
        box-shadow: 0 0 2px 0 #fff inset;
    }

    .clear {
        clear: both;
    }

    .icon-color-blue {
        color: #00bcd4;
    }

    .icon-color-green {
        color: #4caf50;
    }

    .icon-color-yellow {
        color: #ffc107;
    }

    .icon-width20 {
        width: 20px;
    }

    li#LoginTab.active {
        background-color: rgb(4, 121, 49);
    }

    li#OsInfoTab.active {
        background-color: rgb(4, 121, 49);
    }

    li#PresenceInfoTab.active {
        background-color: rgb(4, 121, 49);
    }

    div#LoginInfo.active {
        background-color: rgb(4, 121, 49);
    }

    div#OsInfo.active {
        background-color: rgb(4, 121, 49);
    }

    div#PresenceInfo.active {
        background-color: rgb(4, 121, 49);
    }

    .tab-content {
        padding: 0px;
    }

    .modified-tab-header {
        background-color: #00aa41;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .icon-left-style1 {
        float: right;
        font-size: 80px;
        padding-top: 10px;
        line-height: 0.5;
    }

    .icon-left-style2 {
        font-size: 60px;
        float: right;
        line-height: 0;
    }

    .totalUser {
        font-size: 20px;
        font-weight: bold;
        padding-left: 5px;
        color: #e08601;
    }

    .text-yellow {
        color: #ffd558;
    }

    .text-blue {
        color: #38b0bf;
    }

    .top-panel1 {
        width: 30%;
        background-color: #38b0bf;
        margin: 17px;
    }

    .top-panel2 {
        width: 30%;
        background-color: #00aa41;
        margin: 17px;
    }

    .top-panel3 {
        width: 30%;
        background-color: #ffd558;
        margin: 17px;
    }

    .top-panel-icon {
        float: right;
        font-size: 60px;
    }

    .top-panel-detail {
        font-weight: 100;
        font-size: 20px;
        color: white;
    }
</style>


@section Header
{
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Accounts")"><i class="left-icon fa fa-linux"></i>DashBoard</a></li>
    </ol>
}

<div class="block-header">
    <h2>Thông Tin Tài Khoản</h2>
    
</div>

<div class="card-body card-padding">
    <div class="row">
        <div class="col-md-4 col-xs-12 p-l-0 p-r-0 top-panel1">
            <div>
                <input type="hidden" id="browser-report-chart" value="Tổng sản phẩm" />
                <div>
                    <div>
                        <h1><i class="md md-contacts p-r-15 top-panel-icon" style="color:#16c1d6"></i></h1>
                    </div>
                    <div class="">
                        <h2 class="m-b-10 p-l-30" style="color: white;font-weight:400">
                            Thông tin cơ bản
                        </h2>
                        <h2 id="Fullname" class="p-l-30 top-panel-detail">
                            Họ & tên: @ViewBag.UserFullName
                        </h2>
                        <h2 id="birthDay" class="p-l-30 top-panel-detail">
                            Ngày sinh: @ViewBag.BirthDay
                        </h2>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-4 col-xs-12 p-l-0 p-r-0 top-panel2">
            <div class="">
                <div class="">
                    <div class="">
                        <h1><i class="fa fa-calendar p-r-15 top-panel-icon" style="color:#09d858"></i></h1>
                    </div>
                    <div class="">
                        <h2 class="m-b-10 p-l-30" style="color: white;font-weight:400">
                            Hạn sử dụng
                        </h2>
                        <h2 id="ExpireDay" class="p-l-30 top-panel-detail">
                            @ViewBag.ExpireDay
                        </h2>
                        <h2 id="availableDay" class="p-l-30 top-panel-detail">
                            Còn lại: @ViewBag.availableDay ngày
                        </h2>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="col-md-4 col-xs-12 p-l-0 p-r-0 top-panel3">
            <div class="">
                <div class="">
                    <div class="">
                        <h1><i class="fa fa-check-circle-o p-r-15 top-panel-icon" style="color:rgb(250, 255, 35)"></i></h1>
                    </div>
                    <div class="">
                        <h2 class="m-b-10 p-l-30" style="color: white;font-weight:400">
                            Trạng thái
                        </h2>
                        <h2 id="status" class="p-l-30  top-panel-detail">
                            @ViewBag.licienseType 
                        </h2>
                        <h2 id="LicienseType" class="p-l-30 top-panel-detail">
                            @ViewBag.Status       
                        </h2>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>