@{
    ViewBag.Title = "Quản lý thiết bị";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table tbody tr:hover {
        cursor: pointer;
    }

        table tbody tr:hover td {
            color: #3c8dbc;
        }

    .general-info, .setting {
        background-color: #ffffff;
        padding-top: 20px;
        border-radius: 5px;
    }

        .setting .form-group input {
            margin-left: 3%;
            width: 94%;
        }

    .toggle-handle {
        border-radius: 0;
        /*height: 30px;*/
    }

    .toggle-off.btn {
        padding-left: 30px;
    }

    .input-group-addon:hover {
        cursor: pointer;
        background: #367fa9;
        color: white;
    }

    .fixedHeader {
        position: fixed;
    }

    .modal-dialog {
        transform: none !important;
    }

    .modal-content {
        margin-top: 70px;
    }

    th, td {
        vertical-align: middle;
    }

    table.dataTable thead .sorting,
    table.dataTable thead .sorting_asc,
    table.dataTable thead .sorting_desc {
        background: none;
    }

    #LandingPageDatatable > tbody > tr > td {
        vertical-align: middle;
    }
</style>

@section Header
{
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Accounts")"><i class="left-icon fa fa-linux"></i>DashBoard</a></li>
        <li class="active">Quản lý thiết bị</li>
    </ol>
}

<div class="block-header">
    <h2>Danh sách thiết bị</h2>
    @*<ul class="actions">
            <li>
                <button id="btnCreateLandingPage" type="button" class="btn btn-primary pull-right" onclick="createModal()">
                    <i class="left-icon fa fa-plus"></i>Tạo mới
                </button>
            </li>
        </ul>*@
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body card-padding">
                <table id="deviceDatatable" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                <label class="">STT</label>
                            </th>
                            <th>
                                <label class="">IMEI</label>
                            </th>
                            <th>
                                <label class="">Tên thiết bị</label>
                            </th>
                            <th>
                                <label class="">Trạng thái</label>
                            </th>
                            <th>
                                <label class="">Thao tác</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="DeviceModal" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3>Cập nhật thông tin thiết bị</h3>
            </div>
            <form id="updateDeviceForm" method="post">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="customerUsername" class="col-sm-4 control-label">IMEI:</label>
                            <div class="col-sm-6">
                                <input type="text" readonly class="form-control col-md-6" id="deviceImei">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="customerFullname" class="col-sm-4 control-label">Tên thiết bị:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control col-md-6" id="deviceName">
                            </div>
                        </div>>
                        <div class="form-group" hidden>
                            <label for="customerAddPoint" class="col-sm-4 control-label">Trạng thái:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control col-md-6" id="deviceStatus">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="buyPoint">Cập nhật</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Content/js/Campaign.js"></script>
    <script>
        $(document).ready(function () {
            InitDatatable();

            $(document).on('onFadeOutComplete', '#loading-image', function () {
                StartOverallTour();
            });
        });

        function RefreshTable() {
            var oTable = $("#deviceDatatable").dataTable();
            oTable._fnPageChange(0);
            oTable._fnAjaxUpdate();
        }

        function InitDatatable() {
            $("#deviceDatatable").dataTable({
                "bFilter": true,
                "bRetrieve": true,
                "bServerSide": true,
                "bScrollCollapse": true,
                "sAjaxSource": "@Url.Action("DeviceDatatable", "Customer")",
                "bProcessing": true,
                "fnServerParams": function (aoData) {
                    //aoData.push({ "name": "id", "value": 10 });
                },
                "oLanguage": {
                    "sSearch": "Tìm kiếm: ",
                    "sZeroRecords": "Không có danh mục nào",
                    "sInfo": "Hiển thị từ _START_ đến _END_ trong tổng số _TOTAL_",
                    "sEmptyTable": "Không có dữ liệu",
                    "sInfoFiltered": " ",
                    "sLengthMenu": "Hiển thị _MENU_ dòng",
                    "sProcessing": "Đang xử lý...",
                    "oPaginate": {
                        "sNext": "<i class='fa fa-chevron-right'></i>",
                        "sPrevious": "<i class='fa fa-chevron-left'></i>"
                    }
                },
                "aoColumnDefs": [
                    {
                        "aTargets": [0, 1, 2, 3, 4],
                        "bSortable": true,
                    },
                    {
                        "aTargets": [4],
                        "mRender": function (data, type, row) {
                            var data = row[1];
                            return "<a class='btn btn-sm btn-primary' href='@Url.Action("History", "Customer")\/" + data + "\'><i class='fa fa-eye'></i></a>"
                            + " <a class='btn btn-sm btn-primary' data-toggle='tooltip' title='Cập nhật' onclick='UpdateDevice(\"" + data + "\")'><i class='fa fa-pencil'></i></a>";

                            //    + " <a id='btnDemoLandingPage' class='btn btn-sm btn-primary' target='_blank' href='/BrandManager/LandingPages/ViewDemo?id=" + data + "'>View demo</i></a>";
                        },
                        "bSortable": false
                    },
                ],
                "bAutoWidth": false,

            }).fnSetFilteringDelay(1000);
        }

        function UpdateDevice(IMEI) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetDeviceDetail", "Customer")',
                data: { IMEI: IMEI },
                success: function (result) {
                    if (result.success) {
                        $('#DeviceModal').modal('show');
                        $('#deviceImei').val(result.IMEI);
                        $('#deviceName').val(result.name);
                        $('#deviceStatus').val(result.status);
                    } else {
                        PnotifyFail("Có lỗi xảy ra!!!");
                    }
                },
                error: function (error) {
                    PnotifyFail("Có lỗi xảy ra!!!");
                }
            });

        }

        $('#updateDeviceForm').submit(function (e) {
            e.preventDefault();
            var name = $('#deviceImei').val();
            var point = +$('#deviceName').val();
            swal({
                title: 'Cảnh báo',
                text: "Bạn có chắc chắn muốn xóa không?",
                type: 'warning',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Xác nhận',
                cancelButtonText: 'Không',
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                closeOnConfirm: true
            }, function () {
                var check = true;
                if (point.trim() == "") {
                    check = false;
                    PnotifyFail("Vui lòng điền đủ thông tin");
                }
                if (check) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("BuyPoint", "Customer")',
                        data: {
                            username: name,
                            point: point,
                        },
                        dataType: "JSON",
                        success: function (result) {
                            if (result.success) {
                                PnotifySuccess("Cập nhật thông tin thiết bị thành công");
                                RefreshTable();
                                $('#DeviceModal').modal('hide');
                            } else {
                                PnotifyFail("Cập nhật thông tin thiết bị lỗi");
                            }
                        },
                        error: function (error) {
                            PnotifyFail("Cập nhật thông tin thiết bị bị lỗi");
                        }
                    });
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}